{% extends "_layouts/default.njk" %}

{%  block body %}

  <div class="content">
    <strong>Schedule a haircut</strong>
    <div class="provider">
      <div>
        <img src="/files/{{provider.avatar}}" alt="avatar">
        <strong>{{provider.name}}</strong>
      </div>
    </div>

    <form action="/app/appointments/new/{{provider.id}}" method="post">
        <input type="text" class="flatpickr" placeholder="Choose a date">


    <div id="hours">

    </div>
      <button type="submit">Schedule</button>

    </form>


  </div>


<script>
flatpickr(".flatpickr",{
  minDate: new Date(),
  dateFormat: "d/m/Y",
  onChange: function (date){

    fetch(`/app/avaiable/{{provider.id}}?date=${date[0]
    .getTime()}`)
    .then((res)=>{
        res.text().then((html )=>{
          document.querySelector("#hours").innerHTML = html
        })
    })
  }
})

</script>

{%  endblock %}
