{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post" >

  <img src="images/logo.svg" alt="logo" height="42">


    {% include "_partials/flash.njk" %}


    <input type="email" name="email" placeholder="Your Email">
    <input type="password" name="password" placeholder="Passsword">


  <button type="submit">Enter</button>

  <a href="/signup">Create account</a>
  </form>



{% endblock %}
